led_rows=32
led_cols=64
led_chain=4
led_parallel=1
led_pwm_bits=11
led_brightness=100
led_gpio_mapping=adafruit-hat-pwm
led_scan_mode=1
led_pwm_lsb_nanoseconds=130
led_show_refresh=
led_slowdown_gpio=1
led_no_hardware_pulse=
led_rgb_sequence=RGB
led_pixel_mapper=
led_row_addr_type=0
led_multiplexing=0
led_panel_type=
led_no_drop_privs=True
