led_rows=32
led_cols=64
led_chain=4
led_parallel=1
led_pwm_bits=7
led_pwm_dither_bits=0
led_brightness=100
led_limit_refresh_rate_hz=0
led_gpio_mapping=adafruit-hat-pwm
led_scan_mode=1
led_pwm_lsb_nanoseconds=180
led_show_refresh=0
led_slowdown_gpio=1
led_no_hardware_pulse=0
led_rgb_sequence=RGB
led_pixel_mapper=
led_row_addr_type=0
led_multiplexing=0
led_panel_type=
led_no_drop_privs=False
